:root {
  // tag::FONT_SIZE[]
  --small-font-size: 12px;
  // end::FONT_SIZE[]

  // tag::INFO_COLORS[]
  --red-color: #eb5845;
  --green-color: #69cd72;
  // end::INFO_COLORS[]

  // tag::DEFAULT_COLORS[]
  --grey0-color: #ffffff;
  --grey9-color: #333333;
  // end::DEFAULT_COLORS[]
}
